$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
.bg-w-100 {
  background-color: $w-100 !important;
}
.bg-w-200 {
  background-color: $w-200 !important;
}
.bg-w-300 {
  background-color: $w-300 !important;
}
.bg-w-000 {
  background-color: $w-000 !important;
}
.text-w-200{color:$w-200;}
@import url(https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css);

img {
  display: block;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 2px 2px 20px rgba(0, 0, 0, 0.25);
}
.close {
  left: 0px;
  top: 0px;
  color: $blue-300;
  cursor: pointer;
  z-index: 999;
  transform: translateX(-10%);
}
.anc {
  color: $pink-000;
}
code {
  font-size: 0.9em;
}

#main-content-wrap {
  line-height: 1.8;
  pre {
    line-height: 1;
    letter-spacing: -0.6px;
  }
  #main-content {
    h1 {
      font-weight: 200;
      color: $purple-300;
    }
    h2 {
      color: $purple-000;
    }
    h3 {
      color: $grey-dk-200;
      left: $sp-4;
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: $purple-000;
        left: -$sp-4;
        top: 50%;
        transform: translateY(-50%) rotate(55deg);
      }
    }

    #markdown-toc {
      ol a {
        color: $grey-dk-100;
        font-size: $font-size-4;
      }
    }
    li{
      line-height: 1.6;
      padding-bottom: 1rem;
    }
  }
}
div.highlighter-rouge,
div.listingblock > div.content,
figure.highlight{background: #ebe8fd !important;}

p.warning::before, blockquote.warning::before{
  content:‼;
}