$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
.bg-w-100{ background-color: $w-100 !important;}
.bg-w-200{ background-color: $w-200 !important;}
.bg-w-300{ background-color: $w-300 !important;}
.bg-w-000{ background-color: $w-000 !important;}


@import url(https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css);


img{display:block;}
.close{left:0px; top:0px; color:$blue-300; cursor: pointer; z-index: 999; transform:translateX(-10%);}
.anc{color:$pink-000;}
code{font-size: 0.95em;}

